{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Enthusiastic Full Stack Developer eager to contribute to team success through hard work, attention to detail
          and excellent organizational skills. Proficient in Python and JavaScript language and its libraries. Highly
          motivated to learn, grow and excel in Web industry.
        </p>
        <p>
          You have any interesting idea in your mind? You need help to build into reality, mail me and lets build it
          together!
        </p>
        <p><a href="mailto:sharunpublic@gmail.com">Send a <i class="fa fa-envelope" aria-hidden="true"></i> here!</a>
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}